.main-div {
  width: 90%;
  margin: auto;
}

.my-button {
  margin-top: 8px;
}

.imgPost {
  height: 100px;
  width: 100px;
  margin-left: 5px;
}

.postDiv {
  width: 90%;
  height: 175px;
  border: 1px solid grey;
  background-color: #C2D6D6;
  margin-bottom: 10px;
}

.postTitle {
  font-size: 15px;
  font-weight: bold;
}

.postDescription {
  margin-left: 150px;
  margin-bottom: 0px;
}

.addComment {
  margin-right: 0px;
  margin-left: 200px;
}
