extends layout

block content
  
  h1.head Contacts App

  p Name:
    input(type="text" ng-model="nameInput")
  p Email:
    input(type="text" ng-model="emailInput")
  p Phone:
    input(type="text" ng-model="phoneInput")
  input(type="submit" ng-model="submitContact")  
  
  p Search:
    input(type="text" ng-model="searchInput")
