doctype html
html(ng-app="ContactsApp")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/javascripts/contacts" type="text/javascript")
    
  body
    block content
